{{ define "main" }}
{{ .Content }}
<ul class="all-posts">
    {{ range where .Site.RegularPages "Section" "post"}}
    <li><a href="{{.Permalink}}">[{{.Date.Format "2006-01-02"}}] {{.Title}}</a></li>
    {{ end }}
</ul>
{{ end }}
