<div class="header">
    <div class="logo">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
    <div class="nav">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    </div>
</div>
