<head>
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Title }}">
    <meta name="author" content="{{ .Site.Author.name }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=900">
    <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Press+Start+2P&display=swap" rel="stylesheet"> 
</head>
